<section class="post">
    <section class="href">
        <a href="/posts/{{id}}">
            <header class="postTitle">
                {{title}}<br>
                <div class="postDate">{{date_created}}</div>
            </header>
            <p class="postContent">{{text_content}}</p>
            <h5 class="postTag">{{tag}}</h5>
        </a>
    </section>
</section>