<body>
    <section id="accountScreen">
        <div class="shape">
            <h2 id="username">{{username}}</h2>
            <ul id="accountInfo">
                <li id="name">{{firstName}}{{lastName}}</li>
                <li id="bio">
                    <p>{{bio}}</p>
                </li>
                <li id="links">{{links}}</li>
            </ul>
        </div>
    </section>

    <script src="../scripts/account.js"></script>
</body>

</html>