<section id="postScreen">


    <section class="href">
        <a href="/posts/{{id}}">
            <section>
                <header class="postTitle">
                    {{title}}<br>
                </header>
                <header class="postTitle">
                    {{title}}<br>
                    <div class="postDate">{{date_created}}</div>
                </header>
                <p class="postContent">{{text_content}}</p>
                <h5 class="postTag">{{tag}}</h5>

                <section id="replies">
                    {{#each comments as |comment|}}
                    {{>(comments)}}
                    {{/each}}
                </section>
            </section>
        </a>
    </section>
</section>