<section id="postScreen">

  
    <section class="href">
        <a href="/posts/{{id}}">
            <header class="postTitle">
                {{title}}<br>
                <div class="postDate">{{date_created}}</div>
            </header>
            <hr>
            <section class="post">
                <p class="postContent">{{text_content}}</p>
                <h5 class="postTag">{{tag}}</h5>
            </section>
            <section id="replies">
                {{>(comments)}}
                
            </section>
        </a>
    </section>
</section>